body {
  margin: 0;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #555;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, sans-serif;
}

.calculator {
  background: black;
  border-radius: 40px;
  width: 260px;
  padding: 20px;
 
}

.display {
  color: white;
  text-align: right;
  font-size: 48px;
  padding: 10px 10px 20px 10px;
  overflow: hidden;
}


.buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
}


.btn {
  flex: 0 0 55px;
  height: 55px;
  border: none;
  border-radius: 50%;
  font-size: 22px;
  color: white;
  cursor: pointer;
}


.dark-gray {
  background: #333;
}

.light-gray {
  background: #a5a5a5;
  color: black;
}

.orange {
  background: #ff9500;
}


.zero {
  flex: 0 0 120px;
  border-radius: 50px;
  text-align: left;
  padding-left: 20px;
}



